# Assignment: "Segmenting and Clustering Neighborhoods in Toronto" (Part 1)

## Importing libraries to work

In [3]:
import pandas as pd
import numpy as py

In [5]:
from bs4 import BeautifulSoup
import requests

## Extracting the table from Wikipedia link

In [6]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_wikipedia_page= requests.get(wikipedia_link).text

In [12]:
soup = BeautifulSoup(raw_wikipedia_page,'xml')

In [17]:
table = soup.find('table')

Postcode      = []
Borough       = []
Neighbourhood = []

In [18]:
for tr_cell in table.find_all('tr'):
    
    counter = 1
    Postcode_var      = -1
    Borough_var       = -1
    Neighbourhood_var = -1
    
    for td_cell in tr_cell.find_all('td'):
        if counter == 1: 
            Postcode_var = td_cell.text
        if counter == 2: 
            Borough_var = td_cell.text
            tag_a_Borough = td_cell.find('a')
            
        if counter == 3: 
            Neighbourhood_var = str(td_cell.text).strip()
            tag_a_Neighbourhood = td_cell.find('a')
        counter +=1
        
        if (Postcode_var == 'Not assigned' or Borough_var == 'Not assigned' or Neighbourhood_var == 'Not assigned'):
            
            continue
            
           
    try:
        if ((tag_a_Borough is None) or (tag_a_Neighbourhood is None)):
            
            continue
          
            
    except:
        
        pass
    
    if(Postcode_var == -1 or Borough_var == -1 or Neighbourhood_var == -1):
        
        continue
        
    Postcode.append(Postcode_var)
    Borough.append(Borough_var)
    Neighbourhood.append(Neighbourhood_var)

## Unifying Postal codes with more than one neighbour

In [23]:
unique_p = set(Postcode)
print('num of unique Postal codes:', len(unique_p))
Postcode_u      = []
Borough_u       = []
Neighbourhood_u = []


for postcode_unique_element in unique_p:
    p_var = ''; b_var = ''; n_var = ''; 
    for postcode_idx, postcode_element in enumerate(Postcode):
        if postcode_unique_element == postcode_element:
            p_var = postcode_element;
            b_var = Borough[postcode_idx]
            if n_var == '': 
                n_var = Neighbourhood[postcode_idx]
            else:
                n_var = n_var + ', ' + Neighbourhood[postcode_idx]
    Postcode_u.append(p_var)
    Borough_u.append(b_var)
    Neighbourhood_u.append(n_var)

num of unique Postal codes: 77

## Converting the data into Pandas Dataframe

In [21]:
toronto_dict = {'Borough':Borough_u, 'Neighbourhood':Neighbourhood_u, 'Postcode':Postcode_u}
df_toronto = pd.DataFrame.from_dict(toronto_dict)
df_toronto.to_csv('toronto_part1.csv')
df_toronto.head(14)

             Borough                                 Neighbourhood Postcode
0       East Toronto                                  India Bazaar      M4L
1        Scarborough        Highland Creek, Rouge Hill, Port Union      M1C
2          Etobicoke  Islington, Princess Gardens, West Deane Park      M9B
3       East Toronto                                     Riverdale      M4K
4          East York                              Woodbine Heights      M4C
5   Downtown Toronto      Design Exchange, Toronto Dominion Centre      M5K
6   Downtown Toronto                     Harbourfront, Regent Park      M5A
7         North York                                Downsview West      M3L
8         North York                              Victoria Village      M4A
9        Scarborough                                 Tam O'Shanter      M1T
10      West Toronto                            Runnymede, Swansea      M6S
11         Etobicoke                                   New Toronto      M8V
12       Scarborough                         Ionview, Kennedy Park      M1K
13         East York                              Thorncliffe Park      M4H

## Obtaining the number of rows of my dataframe

In [24]:
df_toronto.shape

(77, 3)